@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Parisienne&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../1.home/homeimages/food4.jpg');
    background-size: cover;
}
/*
.aboutus{
    background-color:#eb2f06;
}*/
.aboutus h1{
    font-size: 30px;
    color: white;
    padding: 20px;
    font-weight: normal;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
}
.menubuttons{
    text-align: center;
    padding-bottom: 30px;
}
.menubuttons a{
    text-decoration: none;
    color: white; 
    text-transform: uppercase;
    font-size: 11px;
    transition: 0.3s ease;
}
.menubuttons button{
    height: 30px;
    width: 80px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
    border: none;
}
.menubuttons button:hover a{
    color:red;
}
.panel{
    color: white;
    border: 2px solid white;
    width: 80%;
    min-height: 250px;
    margin-left: 150px; 
    margin-top: 80px;
}
.panel h1{
    font-weight: normal;
}
.panel p{
    text-align: justify;
    text-indent: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: normal;
    user-select: none;
}
footer{
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: white;
}
footer h6,
footer button,
footer h1{
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}
footer button{
    height: 20px;
    width: 20px;
    border: none;
    background-color: rgba(0,0,0,0.6);
}
footer button i{
    font-size: 3px;
    color: white;
}
@media(max-width:768px){
    .panel{
    color: white;
    border: 2px solid white;
    width: 70%;
    min-height: 250px;
    margin-left: 70px; 
    margin-top: 20px;
    }
    footer
    {
        margin-bottom: -100px;
    }
}
