@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500&family=Parisienne&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../1.home/homeimages/food6.webp');
    background-size: cover;
}
/*
.aboutus{
    background-color:#eb2f06;
}*/
.contactus h1{
    font-size: 30px;
    color: white;
    padding: 20px;
    font-weight: normal;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
}
.menubuttons{
    text-align: center;
    padding-bottom: 30px;
}
.menubuttons a{
    text-decoration: none;
    color:white; 
    font-size: 11px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.menubuttons button{
    height: 30px;
    width: 80px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
    border: none;
}
.menubuttons button:hover a{
    color:red;
}
.address{
    color: white;
    height: 150px;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
}
.address h2{
    margin-left: 95px;
    margin-top: 10px;
    padding: 5px;
    font-weight: normal;
}
.address h3,h4,h5{
    margin-left: 95px;
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
}
.social{
    border: 2px solid white;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
    padding: 10px;
    margin-top: 10px;
}
.social .follow{
    color: white;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    transition: 0.3s ease;
}
.social .follow:hover{
    color: red;
}
.panel{
    color: white;
    border: 2px solid white;
    width: 400px;
    min-height: 400px;
    margin-left: 650px; 
    margin-top: -175px;
}
.panel h6{
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}
.form-group{
    padding: 10px;
    padding-left: 70px;
}
.form-group input{
    height: 28px;
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.form-group textarea{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.form-group button{
    height: 30px;
    width: 90px;
    margin-left: 80px;
    background-color: rgba(0,0,0,0.9);
    color: white;
    border: none;
    border-radius: 50px;
    transition: 0.2s ease;
}
.form-group button:hover{
    transform: scale(1.2);
    color: red;
}
@media(max-width:768px){
    .address{
        margin-left: 20px;
    }
    .panel{
        margin-left: 50px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
